aiofiles==0.8.0
ajsonrpc==1.2.0
annotated-types==0.7.0
ansible-base==2.10.8
anyio==3.7.1
apache-libcloud==3.2.0
appdirs==1.4.4
argcomplete==1.8.1
async-timeout==5.0.1
attrs==21.2.0
Babel==2.8.0
bcrypt==3.2.0
beautifulsoup4==4.12.3
bitstring==3.1.9
black==24.10.0
blinker==1.4
blis==1.3.0
bottle==0.12.23
Brlapi==0.8.3
build==1.0.3
cachetools==5.0.0
catalogue==2.0.10
certifi==2020.6.20
cffi==1.16.0
chardet==4.0.0
charset-normalizer==3.3.2
chrome-gnome-shell==0.0.0
click==8.1.3
cloudpathlib==0.22.0
colorama==0.4.4
colorlog==6.7.0
command-not-found==0.3
confection==0.1.5
cryptography==42.0.5
cupshelpers==1.0
cymem==2.0.11
dacite==1.9.1
dbus-python==1.2.18
defer==1.0.6
Deprecated==1.2.14
deprecation==2.1.0
distlib==0.3.6
distro==1.7.0
distro-info==1.1+ubuntu0.2
dnspython==2.1.0
docker==5.0.3
docker-compose==1.29.2
dockerpty==0.4.1
docopt==0.6.2
docutils==0.20.1
duplicity==0.8.21
ecdsa==0.18.0
esphomeyaml==1.10.1
esptool==4.3
exceptiongroup==1.2.2
fastapi==0.103.2
fasteners==0.14.1
filelock==3.8.2
fsspec==2025.9.0
future==0.18.2
gdata-python3==3.0.1
google-api-python-client==1.7.11
google-auth==1.5.1
google-auth-httplib2==0.1.0
greenlet==1.1.2
h11==0.14.0
hf-xet==1.1.10
html5lib==1.1
httpcore==1.0.1
httplib2==0.20.2
httpx==0.25.1
huggingface-hub==0.34.4
idna==3.3
imageio==2.34.0
img2pdf==0.5.1
importlib-metadata==4.6.4
imutils==0.5.4
iniconfig==2.0.0
IP2Location==8.8.1
IP2Trace==3.1.3
isort==5.13.2
jaconv==0.4.0
jeepney==0.7.1
Jinja2==3.0.3
jmespath==0.10.0
jsonschema==3.2.0
keyring==23.5.0
langcodes==3.5.0
language-selector==0.1
language_data==1.3.0
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lazy_loader==0.3
lockfile==0.12.2
louis==3.20.0
lxml==4.9.1
macaroonbakery==1.3.1
Magnus==1.0.3
maildiff==2.0.0
Mako==1.1.3
marisa-trie==1.3.1
markdown-it-py==3.0.0
MarkupSafe==2.0.1
marshmallow==3.18.0
mdurl==0.1.2
meld==3.20.4
menulibre==2.2.2
monotonic==1.6
more-itertools==8.10.0
murmurhash==1.0.13
mutagen==1.47.0
mypy-extensions==1.0.0
mysql-connector==2.2.9
netaddr==0.8.0
netifaces==0.11.0
networkx==3.2.1
nh3==0.2.15
notify2==0.3
ntfy==2.7.0
ntlm-auth==1.4.0
numpy==2.2.6
oauth2client==4.1.3
oauthlib==3.2.0
ocrmypdf==16.1.2
olefile==0.46
onboard==1.4.1
opencv-python==4.9.0.80
OpenTimelineIO==0.15.0
packaging==24.2
paho-mqtt==1.6.1
paramiko==2.9.3
pathspec==0.12.1
pdfminer.six==20231228
pexpect==4.8.0
pibootctl==0.5.2
pikepdf==8.14.0
pillow==10.2.0
pkginfo==1.9.6
platformdirs==4.3.6
platformio==6.1.4
pluggy==1.5.0
postmarker==1.0
preshed==3.0.10
prometheus-client==0.19.0
protobuf==3.12.4
psutil==5.9.8
ptyprocess==0.7.0
pyaaf2==1.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.1
pycairo==1.20.1
pycparser==2.22
pycryptodomex==3.11.0
pycups==2.0.1
pydantic==2.10.6
pydantic_core==2.27.2
PyDrive==1.3.1
pyelftools==0.29
Pygments==2.17.2
PyGObject==3.42.1
PyJWT==2.3.0
pykakasi==2.3.0
pykerberos==1.1.14
pymacaroons==0.13.0
PyMySQL==1.1.1
PyNaCl==1.5.0
pyOpenSSL==21.0.0
pyparsing==2.4.7
PyPDF2==3.0.1
pyproject_hooks==1.0.0
PyQt5==5.15.9
pyqt5-plugins==5.15.9.2.3
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.2
pyqt5-tools==5.15.9.3.3
pyRFC3339==1.1
pyrsistent==0.18.1
pyserial==3.5
PySide2==5.15.2.1
PySide6==6.6.1
PySide6-Addons==6.6.1
PySide6-Essentials==6.6.1
pytest==8.3.3
python-apt==2.4.0+ubuntu4
python-dateutil==2.9.0.post0
python-debian==0.1.43+ubuntu1.1
python-dotenv==0.19.2
python-nmap==0.7.1
python-slugify==8.0.4
python-telegram-bot==20.6
python-xapp==2.2.1
pytube==15.0.0
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
pyudev==0.22.0
pywinrm==0.3.0
pyxdg==0.27
PyYAML==5.4.1
qt5-applications==5.15.2.2.3
qt5-tools==5.15.2.1.3
RapidFuzz==3.12.1
readme-renderer==42.0
redis==5.2.1
reedsolo==1.5.4
regex==2025.9.1
requests==2.32.3
requests-kerberos==0.12.0
requests-ntlm==1.1.0
requests-toolbelt==0.9.1
rfc3986==2.0.0
rich==13.9.4
rsa==4.8
ruamel.yaml==0.18.5
ruamel.yaml.clib==0.2.8
runlike==1.4.14
safetensors==0.6.2
scikit-image==0.22.0
SecretStorage==3.3.1
selinux==3.3
semantic-version==2.10.0
setproctitle==1.2.2
shellingham==1.5.4
shiboken2==5.15.2.1
shiboken6==6.6.1
simplejson==3.17.6
six==1.16.0
smart_open==7.3.1
sniffio==1.3.0
soundcloud-v2==1.6.0
soupsieve==2.3.1
spacy==3.8.7
spacy-legacy==3.0.12
spacy-loggers==1.0.5
spark-parser==1.8.9
spotdl==4.2.11
spotipy==2.25.0
SQLAlchemy==1.4.31
srsly==2.5.1
ssh-import-id==5.11
starlette==0.27.0
syncedlyrics==1.0.1
systemd-python==234
tabulate==0.8.10
telegram-send==0.37
termcolor==2.4.0
tesserocr==2.6.3
text-unidecode==1.3
texttable==1.6.4
thinc==8.3.6
tifffile==2024.2.12
tlslite-ng==0.7.6
tokenizers==0.22.0
tomli==2.0.1
tornado==6.2
tqdm==4.67.1
transformers==4.56.1
twine==4.0.2
typer==0.17.4
typing==3.7.4.3
typing_extensions==4.12.2
tzdata==2022.5
tzlocal==4.2
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufw==0.36.1
unattended-upgrades==0.1
uncompyle6==3.9.2
Unidecode==1.3.8
uritemplate==3.0.1
urllib3==1.26.5
uvicorn==0.23.2
vboxapi==1.0
virtualenv==20.17.1
voluptuous==0.13.1
wadllib==1.3.6
wasabi==1.1.3
weasel==0.4.1
webencodings==0.5.1
websocket-client==1.2.3
websockets==14.2
-e git+https://github.com/WoeUSB/WoeUSB-ng.git@18e8918f75af26c0258a5b5f7bdb13acb76611eb#egg=WoeUSB_ng
wrapt==1.16.0
wsproto==1.1.0
wxPython==4.0.7
xdg==5
xdis==6.1.1
xkit==0.0.0
xlib==0.21
xlrd==1.2.0
xmltodict==0.12.0
youtube-dl @ file:///home/sanjeev/Downloads/youtube-dl
yt-dlp==2025.1.26
ytmusicapi==1.10.0
zipp==1.0.0
